%table.table.table-bordered.table-hover
  %thead
    %tr
      %th Image
      %th Name
      %th Slug
      %th Description
      %th
      %th
      %th
  %tbody
    - @galleries.each do |gallery|
      %tr[gallery]
        %td= image_tag gallery.image_url(:thumb)
        %td= gallery.name
        %td= gallery.slug
        %td= gallery.description
        %td= link_to "Show", admin_gallery_path(gallery)
        %td= link_to "Edit", edit_admin_gallery_path(gallery)
        %td= link_to "Delete", admin_gallery_path(gallery), data: { confirm: t("delete_confirm") }, method: :delete
= link_to "Add New Gallery", new_admin_gallery_path, class: "btn btn-primary"
