%h1 #{@gallery.name} (#{@gallery.slug})
%div= image_tag @gallery.image_url(:medium)
= @gallery.description

%h2 Gallery images
%table.table.table-bordered.table-hover
  %thead
    %tr
      %th Image
      %th Name
      %th Alt
      %th Description
      %th
      %th
      %th
  %tbody
    - @gallery_images.each do |gallery_image|
      %tr[gallery_image]
        %td= image_tag gallery_image.image_url(:thumb)
        %td= gallery_image.name
        %td= gallery_image.alt
        %td= gallery_image.description
        %td= link_to "Show", ["admin", gallery_image]
        %td= link_to "Edit", edit_admin_gallery_image_path(gallery_image)
        %td= link_to "Delete", ["admin", gallery_image], data: { confirm: t('delete_confirm') }, method: :delete

= simple_form_for @gallery, url: add_images_admin_gallery_path(@gallery), method: :put, html: { multipart: true } do |f|
  = f.input :images, as: :file, input_html: { multiple: true, class: "btn" }
  = f.button :submit, "Add images", class: "btn btn-primary"
  = link_to "Add one image", new_admin_gallery_gallery_image_path(@gallery), class: "btn btn-primary"
= link_to "<- Back to gallery list", admin_galleries_path, class: 'btn btn-default'
